/* 
    Document   : redi
    Created on : 10.02.2012, 20:57:12
    Author     : roboter
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.service_status_AVAILABLE { 
    background: #FEFEE4;
}

.service_status_RESERVED,
.service_status_MIXED
{
    
    background: #F2DFAC;
}

.service_status_NON_WORKING_TIME,
.service_status_OUT_OF_ORDER,
.service_status_UNKNOWN { 
    background: #EEEEEE;
}


.required {
    color: #FF4B33;
    font-weight: bold;
}