/* 
    Document   : redi
    Created on : 10.02.2012, 20:57:12
    Author     : roboter
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.service_status_AVAILABLE { 
    background: #FEFEE4;
}

.service_status_RESERVED,
.service_status_MIXED
{

    background: #F2DFAC;
}

.service_status_NON_WORKING_TIME,
.service_status_OUT_OF_ORDER,
.service_status_UNKNOWN { 
    background: #EEEEEE;
}

.redi_required {
    color: #FF4B33;
    font-weight: bold;
}

.redi_status_error
{
    background-color: #F3C7C7;
    color: #016097; 
    padding:15px; 
}

.redi_status_success
{
    background-color: #EDFBFB;
    color: #016097; 
    padding:15px; 
}

.redi_validation_error
{
    color: red;
}

.redi_button-icon 
{
    float: left;
    height: 17px;
}

.redi_button 
{
    background-color: #D3E7BB;
    border: medium none;
    color: #000000;
    cursor: pointer;
    display: inline;
    margin: 5px;
    padding: 7px 30px;
    position: relative;
    text-decoration: none;
    line-height: 16px;
}

.redi_icon-print 
{
    background-image: url("img/icon-print.png");
    background-repeat: no-repeat;
    display: block;
    float: left;
    height: 16px;
    padding-right: 5px;
    width: 16px;
}


.column, .span-1, .span-2, .span-3, .span-4, .span-5, .span-6, .span-7, .span-8, .span-9, .span-10, .span-11, .span-12, .span-13, .span-14, .span-15, .span-16, .span-17, .span-18, .span-19, .span-20, .span-21, .span-22, .span-23, .span-24 {float:left;margin-right:10px;}

.reserved, .orange {
	background-color: #f2dfac;
}

.non_working, .out_of_order, .grey {
	background-color: #eeeeee;
}

.selected_non_working
{
    background-color:#F2AAAC !important;    
}

.table-info {
	padding-bottom: 30px;
	padding-left:95px;
}

.last {margin-right:0;}
.span-1 {width:30px;}
.span-2 {width:70px;}
.span-3 {width:110px;}
.span-4 {width:150px;}
.span-5 {width:190px;}
.span-6 {width:230px;}
.span-7 {width:270px;}
.span-8 {width:310px;}
.span-9 {width:350px;}
.span-10 {width:390px;}
.span-11 {width:430px;}
.span-12 {width:470px;}
.span-13 {width:510px;}
.span-14 {width:550px;}
.span-15 {width:590px;}
.span-16 {width:630px;}
.span-17 {width:670px;}
.span-18 {width:710px;}
.span-19 {width:750px;}
.span-20 {width:790px;}
.span-21 {width:830px;}
.span-22 {width:870px;}
.span-23 {width:910px;}
.span-24 {width:950px;margin-right:0;}

